.cl1{
	width: 0;
	height:0;
	border-left: 270px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid #660033;
	margin-left: 37%;
	position: absolute;
}

.cl2{
	width:350px;
	height:280px;
	top:33%;
	background: #993366;
	margin-left: 40%;
	position: absolute;
}
.cl3{
	width: 75px;
	height: 115px;
	background: #666699;
	margin-left: 45%;
	top: 55%;
	left: 14%;
	position: absolute;
	outline: 6px solid #FFCCFF;

}
.cl4{
	width: 110px;
	height: 75px;
	background: #33CCFF;
	bottom: 49%;
	left: 43%;
	position: absolute;
	outline: 4px solid #993300;
}
.cl5{
	width: 100px;
	height: 75px;
	background: #33CCFF;
	left: 56%;
	top: 39%;
	position: absolute;
	outline: 4px solid #993300;
}
.cl6{
	width: 150px;
	height: 100px;
	background: #33CCFF;
	top:58%;
	left: 43%;
	position: absolute;
	outline: 4px solid #993300;
}	
.cl7{
	width: 15px;
	height: 15px;
	background: #660033;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-left: 62%;
	margin-top: 28%;
	position: absolute;
}
.cl8{
	width: 3px;
	height: 78px;
	background: #993300;
	bottom: 49%;
	position: absolute;
	right: 53%;
}
.cl9{
	width: 3px;
	height: 80px;
	background: #993300;
	bottom: 49%;
	position: absolute;
	left: 60%;
	
}
.cl10{
	width: 4px;
	height: 100px;
	background: #993300;
	bottom: 26%;
	position: absolute;
	left: 48%;
}
.cl11{
	width: 40px;
	height: 100px;
	background: #660033; 
	bottom:75%;
	left: 45%;
	position: absolute;
	
}
.cl12{
	width: 80px;
	position: absolute;
	border-bottom: 30px solid #660033;
	left: 474px;
	bottom: 47%;

}
.cl13{
	width: 0;
	height: 0;
	border-right: 75px solid #660033;
	border-bottom: 50px solid transparent;
	position: absolute;
	margin-left: 471px;
	margin-top: 16%;
	outline: 4px black;
}